
1- Udemy - SQL for Data Analysis - Weekender Crash Course for Beginners/SQL for Data Analysis - Weekender Crash Course for Beginners.pdf
1- Udemy - SQL for Data Analysis - Weekender Crash Course for Beginners/SQLPad Query Results 2020-12-01.xlsx
9a- LinkedIn Learning - Advanced SQL - Windows Functions/Exercises - Jorge/My solution.png
